html, body {
  background-color: #fff;
  font-family: "Roboto";
  height: 100%;
  width: 100%;
}

.navbar-fixed {
  height: 100px;
  overflow: hidden;
}

.navbar-fixed img {
  height: 100px;
  vertical-align: middle;
}

.navbar-fixed nav {
  position: fixed;
  height: 100px;
  background-color: #084b81;
  border-bottom: 8px solid #db662c;
}

.nav-wrapper h1 {
  position: absolute;
  padding-left: 100px;
  line-height: 75%;
  font-size: 3.5vw;
}

/*#nav-mobile {
  opacity: 0;
  transition: 0.25s;
}

#nav-mobile.clicked {
  opacity: 1;
}*/

#nav-mobile a {
  height: inherit;
  line-height: 5;
  font-size: .8em;
}

nav li {
  height: 100px;
}

.search input {
  width: 200px;
  margin: 0 auto;
  color: white;
}

.search-input {
  position: relative;
  margin: 0 auto;
  width: 50%;
  padding: 10px 0;
}

/*
  - the way we access the input here is necessary to override Materialize.css
  - use Settings/Inspect on your browser to check how the input is called
*/
input[type=text]:not(.browser-default) {
  font-family: 'Roboto';
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 1px;
  background-color: white;
  border-bottom: none;
  display: block;
  margin: 0 auto;
  width: 45%;
  border-radius: 10px;
  outline: none;
  text-align: center;
  padding-left: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-fill-mode: forwards;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  width: 100%;
  border-bottom: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#question {
  text-align: center;
  font-family: "Roboto";
  color: white;
  font-size: 3.5vw;
  white-space: nowrap;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.section {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  background: white;
  background-image: url('https://static.pexels.com/photos/268407/pexels-photo-268407.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  letter-spacing: 1px;
}

.row {
  padding-top: 3%;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.card {
  /* Add shadows to create the "card" effect */
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: transform 300ms ease-in-out;
}

.card-title {
  white-space: nowrap;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  background: #084b81;
  border-top: 4px solid #db662c;
  z-index: 10;
}

/*@-webkit-keyframes input-shadow-out {
  0% {
    -webkit-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    -moz-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
  }
  50% {
    -webkit-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    -moz-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    -moz-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
  }
}

@@keyframes input-shadow-out {
  0% {
    -webkit-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    -moz-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
  }
  50% {
    -webkit-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    -moz-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    -moz-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
  }
}

@-webkit-keyframes input-shadow {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    -moz-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
  }
  50% {
    -webkit-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    -moz-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
  }
  100% {
    -webkit-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    -moz-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
  }
}

@keyframes input-shadow {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    -moz-box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
    box-shadow: 0px 0px 10px 0px rgba(219, 102, 44, 0.30);
  }
  50% {
    -webkit-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    -moz-box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
    box-shadow: 0px 5px 19px 1px rgba(219, 102, 44, 0.35);
  }
  100% {
    -webkit-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    -moz-box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
    box-shadow: 0px 10px 32px 2px rgba(219, 102, 44, 0.40);
  }
}*/

.scroll {
  height: 2000px;
}
