<div class="footer-bar">
  <center>
    <img src="./assets/UF_HonorsProgram.png" style="height: 30px; margin: 10px">
    <img src="./assets/facebook_icon.png" style="height: 35px; margin: 5px">
    <img src="./assets/twitter_icon.png" style="height: 35px; margin: 5px">
    <img src="./assets/instagram_icon.png" style="height: 35px; margin: 5px">
    <img src="./assets/youtube_icon.png" style="height: 35px; margin: 5px">
    <img src="./assets/linked_in_icon.png" style="height: 35px; margin: 5px">
  </center>
</div>
