<div class="footer-bar">
  <center>
    <a href = "http://www.honors.ufl.edu/"><img src="assets/images/UF_HonorsProgram.png" alt="UF Honors" style="height: 30px; margin: 10px"></a>
    <a href = "https://www.facebook.com/ufhonors/"><img src="assets/images/facebook_icon.png" alt="Facebook" style="height: 35px; margin: 5px"> </a>
    <a href = "https://twitter.com/ufhonors?lang=en"><img src="assets/images/twitter_icon.png" alt="Twitter" style="height: 35px; margin: 5px"> </a>
    <a href = "https://www.instagram.com/ufhonors/"><img src="assets/images/instagram_icon.png" alt="Instagram" style="height: 35px; margin: 5px"> </a>
    <a href = "https://www.youtube.com/channel/UCt-sx3Kd1gEyfd8NjCr0nRw"><img src="assets/images/youtube_icon.png" alt="Youtube" style="height: 35px; margin: 5px"> </a>
    <a href = "https://www.linkedin.com/company/university-of-florida-honors-program"><img src="assets/images/linked_in_icon.png" alt"LinkedIn" style="height: 35px; margin: 5px"> </a>
  </center>
</div>
