<div class="bg-contact">
    
    
    <div class="row">
        
        <div class="col s10 offset-s1">
            <div class="card" id="contactCard">
                <div class="card-image">
                    <img src="../../assets/images/honors_gator.png">
                        </div>
                <div class="card-content">
                    <span class="card-title" id="dept">Departmental Contact Information</span>
                    <div class="divider"></div>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">add_location</i>Location</div>
                            <div class="collapsible-body"><span>Departmental address:<br>
                                343 Infirmary<br>
                                280 Fletcher Drive<br>
                                University of Florida<br>
                                Gainesville, FL 32611-3260</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">phone</i>Phone</div>
                            <div class="collapsible-body"><span>Departmental phone number: (352) 392-1519</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">email</i>Email</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span>
                                <div class="emailContainer" ng-app="ContactForm">
                     <div class="col s10 offset-s1">
                                        <span class="card-title">Contact Honors Advising</span></div>
                                    <div class="divider"></div>
                                    <form class="emailContainer" name="cf" ng-controller="cfController as cfCtrl" ng-submit="submitForm(cf.$valid)" novalidate>
                                        <div class="row">
                                            <div class="input-field col s5 offset-s1">
                                                <input id="firstName" type="text" class="form-input" ng-model="firstName">
                                                    <label for="firstName">First Name</label>
                                                    </div>
                                            <div class="input-field col s5">
                                                <input id="lastName" type="text" class="form-input" ng-model="lastName">
                                                    <label for="lastName">Last Name</label>
                                                    </div>
                                            <div class="input-field col s10 offset-s1">
                                                <input id="email" type="email" class="form-input" ng-model="email">
                                                    <label for="email">Email Address</label>
                                                    </div>
                                            <div class="input-field col s10 offset-s1">
                                                <textarea id="message" class="materialize-textarea" ng-model="msg"></textarea>
                                                <label for="message">Message</label>
                                            </div>
                                            <div class="col s2 offset-s9">
                                                <input type="submit" id="sendBtn" value="Send" ng-disabled="cf.$invalid"/>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div></div>
                        </li>
                    </ul>
                    
                </div>

            </div>
        </div>
        
        
    <script>
        $('.collapsible').collapsible({
                                      accordion: true, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                                      onOpen: function(el) { }, // Callback for Collapsible open
                                      onClose: function(el) { } // Callback for Collapsible close
                                      });
    </script>