<div>This is the tree view.</div>
<input type="text" ng-model="nodeTitle">
<input type="text" ng-model="nodeDesc">
<input type="text" ng-model="nodeContent">
<input type="text" ng-model="nodeChildren">
<input type="text" ng-model="nodeAncestors">
<button ng-click="treeCtrl.nodeAdd()">Submit</button>
<div ng-model="treeCtrl.message"></div>

<div>Tree info</div>
<div>Title: {{currTitle}}</div>
<div>Description: {{currDesc}}</div>
<div>Content: {{currContent}}</div>
<div>Children: {{currChildren}}</div>
<div>Ancestors: {{currAncestors}}</div>
