
                                        <!-- TREE TEMPLATE -->

<div class="section">
    <div class="row">

        <div class="admin-messages">
          {{message}}
        </div>

                                        <!-- BREADCRUMBS -->
        <div class="nav-wrapper" id="bread">
            <div ng-repeat="ancestor in currAncestors">
                <a href="/tree/{{ancestor.id}}" class="breadcrumb">{{ancestor.title}}</a>
            </div>
        </div>




                                        <!-- TREE CURRENT NODE -->
        <h1 id="currTitle" ng-show="treeCtrl.isAdmin()"><b>{{currTitle}}</b></h1>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" style="font-weight: 100;">{{currDesc}}</span>
                    <p><h1 id="currContent">{{currContent}}</h1></p>
                    <button ng-show="treeCtrl.isAdmin() && !isEditingNode" ng-click="treeCtrl.viewEdit()" class="waves-effect waves-light btn">Edit</button>
                </div>
            </div>

            <div class="card" ng-show="isEditingNode">
                <div class="card-content">
                    <form class="form" name="form" ng-submit="treeCtrl.editNode()" novalidate>
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" ng-model="currTitle" required>
                            <input type="text" name="description" class="form-control" ng-model="currDesc" required>
                            <input type="text" name="content" class="form-control" ng-model="currContent" required>
                        </div>
                        <button class="btn btn-inverse btn-lg btn-login" type="submit">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
        </div>

                                        <!-- CHILDREN -->

        <div class="row">
            <div ng-repeat="child in currChildren" style="display: inline-block;">

              <a ng-if="!child.isLeaf" href="/tree/{{child._id}}" class="waves-effect waves-light btn-large">{{child.title}}</a>
              <a ng-if="child.isLeaf" ng-click="treeCtrl.showLeaf($index)" class="waves-effect waves-light btn-large orange">{{child.title}}</a>

              <!-- ADMIN: DELETE CHILD -->
              <div class="row">
                <button ng-show="treeCtrl.isAdmin()" ng-click="treeCtrl.deleteNode(child._id)" class="waves-effect waves-light btn" id="childButton">Delete {{child.title}}</button>
              </div>
            </div>
        </div>

    </div>

                                        <!-- ADMIN: ADD NODE -->

    <div class="row" ng-show="treeCtrl.isAdmin()">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" style="font-weight: 100;">Add a tree node:</span>
                        <form class="container">
                            <div class = "row">
                                <div class="input-field col s6">
                                    <input ng-show="treeCtrl.isAdmin()" id="nodeTitle" type="text" ng-model="nodeTitle">
                                    <label for="nodeTitle">Branch</label>
                                </div>
                                <div class="input-field col s6">
                                    <input ng-show="treeCtrl.isAdmin()" id="nodeDesc" type="text" ng-model="nodeDesc">
                                    <label for="nodeDesc">Description</label>
                                </div>
                                <div class="input-field col s6">
                                    <textarea ng-show="treeCtrl.isAdmin()" id="nodeContent" ng-model="nodeContent" cols="10" rows="5"></textarea>
                                    <label for="nodeContent">Content</label>
                                </div>
                                <div class="input-field col s6">
                                <input ng-show="treeCtrl.isAdmin()" type="text" ng-model="nodeAncestorTitle">
                                <label for="nodeAncestorTitle">Node Ancestor</label>
                                </div>
                                <div class="col s6">
                                    Is this a node or an answer?
                                    <p>
                                        <input name="group1" type="radio" id="node" ng-value="false" ng-model="nodeLeaf">
                                        <label for="node">Node</label>
                                    </p>
                                    <p>
                                        <input name="group1" type="radio" id="answer" ng-value="true" ng-model="nodeLeaf">
                                        <label for="answer">Answer</label>
                                    </p>
                                </div>
                                <div class="input-field col s6">
                                    <p class="center-align"><button ng-show="treeCtrl.isAdmin()" class="btn btn-large waves-effect waves-light"  ng-click="treeCtrl.addNode()">Add Node</button></p>
                                </div>
                            </div>
                        <div ng-show="treeCtrl.isAdmin()" class="input-field col s12">
                            <div ng-show="treeCtrl.isAdmin()" ng-model="treeCtrl.message">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

                                        <!-- LEAF VIEWER -->

    <div class="row" ng-show="treeCtrl.leafClicked"> <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <span class="card-title" ng-show="!isEditingLeaf">{{leafDesc}}</span>
            <button ng-show="treeCtrl.isAdmin() && !isEditingLeaf" ng-click="isEditingLeaf = true">Edit</button>
            <p ng-show="!isEditingLeaf">{{leafCont}}</p>
            <form class="form" name="form" ng-show="isEditingLeaf" ng-submit="treeCtrl.editLeaf()" novalidate>
              <div class="form-group">
                <input type="text" ng-model="leafDesc" required>
                <textarea name="newLeafCont" cols="30" rows="10" ng-model="leafCont" required></textarea>
              </div>
              <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Apply
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
